.currentWeather {
  align-items: center;
  display: flex;
  padding: 10px;
  text-shadow: 4px 4px 4px rgb(0 0 0);
  flex-direction: column;
  color: #c5c5c5;
  justify-content: center;
}

.temp {
  font-size: 75px;
}

.weatherIcon {
  width: 75px;
  height: 75px;
}
