.hourlyForecast {
  width: 100%;
}

.forecast {
  display: flex;
  overflow-x: scroll; /* Permite el scroll horizontal solo en este contenedor */
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(14, 17, 43, 0.8);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  /* Añade white-space: nowrap si quieres que todos los elementos queden en una línea */
  white-space: nowrap;
}

.hour {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.hourlyForecast::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1440px) {
  .hourlyForecast {
    font-size: 1.5rem;
  }

  .weatherIcon {
    width: 60px;
    height: 60px;
  }
}
