.hourlyForecast {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  /* gap: 10px; */
}

.forecast {
  display: flex;
  overflow-x: auto; /* Habilita el scroll horizontal */
  white-space: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
  scrollbar-width: none; /* (Opcional) Controla el ancho de la barra de desplazamiento en Firefox */
  -webkit-overflow-scrolling: touch; /* (Opcional) Para un desplazamiento más suave en dispositivos táctiles */
  gap: 20px;
  max-width: 100%;
  background: #0e112b;
  border-radius: 20px;
  padding: 10px;
}
.hour {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.weatherIcon {
  width: 40px;
  height: 40px;
}

/* Oculta la barra de desplazamiento en Chrome, Safari y Edge */
.hourlyForecast::-webkit-scrollbar {
  display: none;
}
/* 
@media (max-width: 768px) {
  .hourlyForecast {
    grid-template-columns: repeat(6, 1fr);
  }
} */

@media (min-width: 1024px) {
  .hourlyForecast {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (min-width: 1440px) {
  .hourlyForecast {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    gap: 1.5rem;
    font-size: 2.5rem;
  }

  .weatherIcon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .hour {
    line-height: normal;
  }
}
