.hourlyForecast {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 100px;
  gap: 10px;
  background-color: #00000057;
}

.hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.weatherIcon {
  width: 40px;
  height: 40px;
}

/* Oculta la barra de desplazamiento en Chrome, Safari y Edge */
.hourlyForecast::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .hourlyForecast {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1024px) {
  .hourlyForecast {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (min-width: 1440px) {
  .hourlyForecast {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    gap: 1.5rem;
    font-size: 2.5rem;
  }

  .weatherIcon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .hour {
    line-height: normal;
  }
}
