.dailyForecast {
  display: flex;
  justify-content: space-around;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day span {
  margin: 5px 0;
}

.weatherIcon {
  width: 40px;
  height: 40px;
}
