.main {
  display: grid;
  place-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
}

.temperature {
  font-size: 4rem;
  font-weight: bold;
}

.description {
  font-size: 1.5rem;
  color: #888888;
}
