.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* @media (max-width: 400px) {
  .temperature .temp {
    font-size: 36px;
  }

  .weatherIcon {
    width: 40px;
    height: 40px;
  }
} */
