.app-container {
  background-image: url(../src/assets/fondo.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 20px;
}

@media (min-width: 768px) {
  .app-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    justify-items: center;
  }
}

@media (min-width: 1024px) {
  .app-container {
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    grid-template-rows: auto auto;
    gap: 20px;
  }
}

.block {
  background-color: rgba(14, 17, 43, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.block1 {
  grid-column: 1 / -1;
}

@media (min-width: 1024px) {
  .block2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .block3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .block4 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .block5 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
}

/* Pantallas de más de 1200px - Pantallas grandes (monitores grandes y televisores)*/
/* @media only screen and (min-width: 1201px) {
  .block1 {
    min-width: 1161px;
  }
  .block2,
  .block3 {
    min-width: 560.5px;
  }
  .block4,
  .block5 {
    min-width: 580.5px;
  }
} */

/* Pantallas de hasta 1200px - Desktops estándar */
/* @media only screen and (max-width: 1200px) {
  .block1 {
    max-width: 1160px;
  }
  .block2,
  .block3 {
    max-width: 560px;
  }
  .block4,
  .block5 {
    max-width: 580px;
  }
} */

/* Pantallas de hasta 1024px - Dispositivos grandes (laptops y desktops pequeños) */
/* @media only screen and (max-width: 1024px) {
  .block1 {
    max-width: 984px;
  }
  .block2,
  .block3 {
    max-width: 472px;
  }
  .block4,
  .block5 {
    max-width: 492px;
  }
} */

/* Pantallas de hasta 768px - Tablets y dispositivos medianos */
@media only screen and (min-width: 768px) {
  /* .block1 {
    max-width: 728px;
  } */
  .block2 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
  .block3 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .block4 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  .block5 {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }
  /* .block5, */
  /* .block3 {
    max-width: 236px;
  }
  .block2,
  .block4 {
    max-width: 472px;
  } */
}

/* Pantallas de hasta 480px - Dispositivos medianos (móviles en modo landscape y tablets pequeñas) */
@media only screen and (max-width: 480px) {
  .block {
    max-width: 440px;
  }
}

/* Pantallas de hasta 320px - Dispositivos pequeños (móviles en modo portrait) */
@media only screen and (max-width: 320px) {
  .block {
    max-width: 280px;
  }
}
