@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Reset de estilos y configuración global */

/* Box-sizing para mejorar el manejo de dimensiones */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset de márgenes y padding para todos los elementos */
body,
h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Estilos básicos del cuerpo y fuentes */
body {
  font-family: Roboto, "Arial", sans-serif;
  line-height: 1.6;
  background-color: #030212;
  color: #f0f0f0;
}

/* Estilos básicos para enlaces */
a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para contenedor raíz de la aplicación */
#root {
  min-height: 100vh;
}
