.app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

@media (max-width: 400px) {
  .temperature .temp {
    font-size: 36px;
  }

  .weatherIcon {
    width: 40px;
    height: 40px;
  }
}
