/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: #1e1e1e;
  color: white;
}

@media (max-width: 400px) {
  .temperature .temp {
    font-size: 36px;
  }

  .weatherIcon {
    width: 40px;
    height: 40px;
  }
} */
